*
  box-sizing: border-box

.mySlides
  display: none

img
  vertical-align: middle

.slideshow-container
  width: 100%
  position: relative

.prev
  cursor: pointer
  position: absolute
  top: 50%
  left: 10%
  width: 30px 
  height: 48px
  padding: 16px
  margin-top: -22px
  color: white
  font-weight: bold
  font-size: 50px
  transition: 0.6s ease
  border-radius: 0 3px 3px 0

.next
  cursor: pointer
  position: absolute
  top: 50%
  width: 30px 
  height: 48px
  padding: 16px
  margin-top: -22px
  color: white
  font-weight: bold
  font-size: 50px
  transition: 0.6s ease
  border-radius: 0 3px 3px 0
  right: 10%
  border-radius: 3px 0 0 3px

.prev:hover, .next:hover
  color: #e7ba2f

.text
  color: #f2f2f2
  font-size: 60px
  position: absolute
  bottom: 50%
  top: 50%
  margin: 0
  width: 100%
  display: flex
  justify-content: center
  align-items: center
.text1
  color: #f2f2f2
  font-size: 16px
  position: absolute
  bottom: 30%
  top: 50%
  margin: 0
  width: 100%
  display: flex
  justify-content: center
  align-items: center
.numbertext
  color: #f2f2f2
  font-size: 12px
  padding: 8px 12px
  position: absolute
  top: 0
.dotcontainer
  position: absolute
  bottom: 10%
  right: 50%
  .dot
    cursor: pointer
    height: 15px
    width: 15px
    margin: 0 2px
    background-color: #FFF
    border-radius: 50%
    display: inline-block
    transition: background-color 0.6s ease

  .active, .dot:hover
    background-color: #e7ba2f

.fade
  -webkit-animation-name: fade
  -webkit-animation-duration: 1.5s
  animation-name: fade
  animation-duration: 1.5s

@-webkit-keyframes fade
  from
    opacity: .4

  to
    opacity: 1


@keyframes fade
  from
    opacity: .4

  to
    opacity: 1


@media only screen and (max-width: 300px)
  .prev, .next, .text
    font-size: 11px
    
body
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro','Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif                                
    width: 100%
    .go-top
        position: fixed
        bottom: 2em
        right: 2em
        text-decoration: none
        font-size: 12px
        padding: 1em
        display: block

        &:hover
            background-color: #e7ba2f
        i
          border: solid black
          border-width: 0 8px 8px 0
          display: inline-block
          padding: 8px
        .up
          transform: rotate(-135deg)
          -webkit-transform: rotate(-135deg)
    .wrapper
        margin: auto
        width: 1400px
        .weblogo
            width: 100%
            display: flex
            justify-content: center
        .slider-container 
            position: relative 
                width: 1400px
                height: 418px
        .slider-content
            position: absolute
            top: 50%
            left: 50%
            color: #FFF
            transform: translate(-50%, -50%)
            font-size: 2em
            width: 100%
            img 
                width: inherit
                height: inherit
        .slider-buttons
            display: flex
            .prev
                position: absolute
                align-items: flex-start
                justify-content: flex-start
                bottom: 50%
                color: #FFF
            .next
                position: absolute
                align-items: flex-end
                justify-content: flex-end 
                bottom: 50%
                color: #FFF
        .main-wrapper 
            display: flex
            flex-direction: row
            flex-wrap: wrap
            align-items: center
            width: 100%
            margin: 0
            .blog 
                width: 55%
                display: flex
                flex-direction: column
                flex-wrap: wrap
                margin: 1em 1em
                .blog-wrapper 
                    width: 100%
                    display: flex
                    flex-direction: row
                    flex-wrap: nowrap
                    align-items: center
                    .blog-details 
                        .date
                            font-size: 13px
                            color: #afafaf
                        a.description 
                            text-decoration: none
                            color: #000000
                            font-size: 18px
                            &:hover
                                color: #e9bf45
                        .subdescription
                            font-size: 13px
                .btn-more
                    display: flex
                    justify-content: center
                    align-items: center
                    padding: 1em
                    .text-more
                        background: black
                        color: white
                        text-decoration: none
                        width: 404px
                        height: 40px
                        display: flex
                        justify-content: center
                        align-items: center
            .side-bar
                width: 40%
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                background: #efefef
                padding: 1em 1em
                .side-bar-content
                    .title-news
                        display: flex
                        justify-content: center
                        align-items: center
                    .side-bar-blog-container
                        display: flex
                        flex-direction: column
                        .side-bar-blog-item
                            display: flex
                            flex-direction: row
                            align-items: center
                            justify-content: center
                            img
                                width: 116px
                                height: 77px
                    .side-bar-banner
                          padding-top: 1em



        footer
            background: #000
            display: inline-block
            color: #FFF
            margin: auto
            width: 100%
            .footer-links
                width: 50%
                float: left
                padding: 1em
                a
                    text-decoration: none
                    color: #FFF
                    margin-right: 1em
            .footer-copyright
                width: 20%
                float: right

