body
	padding: 50px
	font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro','Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif				 				 

	a
		width: 100%
		text-decoration: none
		display: flex
		justify-content: center
		color: #000000
		font-size: 1.5em
	.slider-container 
		position: relative 
		img 
			width: 100%
		.slider-content
		 	position: absolute
		 	top: 50%
		 	left: 50%
		 	color: #FFF
		 	transform: translate(-50%, -50%)
		 	font-size: 2em
		.slider-buttons
			display: flex
			.prev
				position: absolute
				align-items: flex-start
				justify-content: flex-start
				bottom: 50%
				color: #FFF
			.next
				position: absolute
				align-items: flex-end
				justify-content: flex-end 
				bottom: 50%
				color: #FFF

	.blog-wrap 
		display: flex
		.blog-container
			flex: 3
			background: pink
			.blog-contents 
				display: inline-flex
		.sidebar-container 
			flex: 1
			background: blue
	.main-wrapper 
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		width: 100%
		margin: 0
		.blog 
			width: 55%
			display: flex
			flex-direction: column
			flex-wrap: wrap
			.blog-wrapper 
				width: 100%
				border: 1px solid black
				display: flex
				flex-direction: row
				flex-wrap: nowrap
				align-items: center
				.blog-details 
					margin-left: 1em
					margin-right: 1em
		.side-bar
			width: 40%
			padding: 5px
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			margin-left: auto
			border: 1px solid black
			.side-bar-blog-container
				display: flex
				flex-direction: column
				.side-bar-blog.item
					display: flex
					flex-direction: row
			


footer 
	width: 100%
	background: #000
	a
		color: #FFF
		display: flex;
		justify-content: flex-start