@charset "UTF-8";
body {
  padding: 50px;
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro','Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }
  body a {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 1.5em; }
  body .slider-container {
    position: relative; }
    body .slider-container img {
      width: 100%; }
    body .slider-container .slider-content {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #FFF;
      transform: translate(-50%, -50%);
      font-size: 2em; }
    body .slider-container .slider-buttons {
      display: flex; }
      body .slider-container .slider-buttons .prev {
        position: absolute;
        align-items: flex-start;
        justify-content: flex-start;
        bottom: 50%;
        color: #FFF; }
      body .slider-container .slider-buttons .next {
        position: absolute;
        align-items: flex-end;
        justify-content: flex-end;
        bottom: 50%;
        color: #FFF; }
  body .blog-wrap {
    display: flex; }
    body .blog-wrap .blog-container {
      flex: 3;
      background: pink; }
      body .blog-wrap .blog-container .blog-contents {
        display: inline-flex; }
    body .blog-wrap .sidebar-container {
      flex: 1;
      background: blue; }
  body .main-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0; }
    body .main-wrapper .blog {
      width: 55%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      body .main-wrapper .blog .blog-wrapper {
        width: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center; }
        body .main-wrapper .blog .blog-wrapper .blog-details {
          margin-left: 1em;
          margin-right: 1em; }
    body .main-wrapper .side-bar {
      width: 40%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      border: 1px solid black; }
      body .main-wrapper .side-bar .side-bar-blog-container {
        display: flex;
        flex-direction: column; }
        body .main-wrapper .side-bar .side-bar-blog-container .side-bar-blog.item {
          display: flex;
          flex-direction: row; }

footer {
  width: 100%;
  background: #000; }
  footer a {
    color: #FFF;
    display: flex;
    justify-content: flex-start; }

/*# sourceMappingURL=style.css.map */