<!DOCTYPE html>
html
  head
    title LIG Exam
    link(rel="stylesheet", href="../sass/main.sass")
    

  body
    .wrapper
      a(href='').weblogo
        img.image(src='../images/Website-Logo.png')
      .slideshow-container
        .mySlides.fade
          img(src='../images/banner.png')
          .text キャッチコピーが入ります1。
          .text1 サンプルテキストサンプルテキストサンプルテキストサンプルテキスト サンプルテキストサンプルテキストサンプルテキストサンプルテキ1
        .mySlides.fade
          img(src='../images/banner.png')
          .text キャッチコピーが入ります2。
          .text1 サンプルテキストサンプルテキストサンプルテキストサンプルテキスト サンプルテキストサンプルテキストサンプルテキストサンプルテキ2
        .mySlides.fade
          img(src='../images/banner.png')
          .text キャッチコピーが入ります3。
          .text1 サンプルテキストサンプルテキストサンプルテキストサンプルテキスト サンプルテキストサンプルテキストサンプルテキストサンプルテキ3
        a.prev(onclick='plusSlides(-1)') ❮
        a.next(onclick='plusSlides(1)') ❯
        div.dotcontainer
          span.dot(onclick='currentSlide(1)')
          span.dot(onclick='currentSlide(2)')
          span.dot(onclick='currentSlide(3)')
      .main-wrapper 
        .blog
          .blog-wrapper
            .image-container
             img.image(src='../images/ph-article.png')
            .blog-details
              p.date 10.08.17
              a(href='').description サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              p.subdescription サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
          .blog-wrapper
            .image-container
             img.image(src='../images/ph-article1.png')
            .blog-details
              p.date 10.08.17
              a(href='').description サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              p.subdescription サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
          .blog-wrapper
            .image-container
             img.image(src='../images/ph-article.png')
            .blog-details
              p.date 10.08.17
              a(href='').description サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              p.subdescription サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
          .blog-wrapper
            .image-container
             img.image(src='../images/ph-article.png')
            .blog-details
              p.date 10.08.17
              a(href='').description サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              p.subdescription サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
          .blog-wrapper
            .image-container
             img.image(src='../images/ph-article.png')
            .blog-details
              p.date 10.08.17
              a(href='').description サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              p.subdescription サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
          .blog-wrapper
            .image-container
             img.image(src='../images/ph-article.png')
            .blog-details
              p.date 10.08.17
              a(href='').description サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              p.subdescription サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
          .blog-wrapper
            .image-container
             img.image(src='../images/ph-article.png')
            .blog-details
              p.date 10.08.17
              a(href='').description サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              p.subdescription サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
          .blog-wrapper
            .image-container
             img.image(src='../images/ph-article.png')
            .blog-details
              p.date 10.08.17
              a(href='').description サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
              p.subdescription サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
          .btn-more
            a(href='#').text-more 
              img(src='../images/text-more.png') 
        .side-bar
          .side-bar-content
            .image-container
              a(href='#').primary-button 
               img(src='../images/Dummy-banner.png')
          .side-bar-content
            a(href='#').title-news 
                      img(src='../images/title-news.png')
            .side-bar-blog-container
              .side-bar-blog-item
                img.image(src='../images/ph-article.png')
                p サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                p.date 10.08.17
              .side-bar-blog-item
                img.image(src='../images/ph-article.png')
                p サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                p.date 10.08.17
              .side-bar-blog-item
                img.image(src='../images/ph-article.png')
                p サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                p.date 10.08.17
          .side-bar-content
            .side-bar-banner
              a(href='#').Dummy-banner1
                img.image(src='../images/Dummy-banner1.png')
            .side-bar-banner
              a(href='#').Dummy-banner1
                img.image(src='../images/Dummy-banner1.png')
            .side-bar-banner
              a(href='#').Dummy-banner1
                img.image(src='../images/Dummy-banner1.png')
      footer
        a.go-top(href='#')
          i.up 
        .footer-links
          a(href='#') 運営会社
          a(href='#') 個人情報保護について
        .footer-copyright
          p &copy 2016 Sample
    script(src="../js/pagetop.js")
    script.
      var slideIndex = 1;

      showSlides(slideIndex);
      function plusSlides(n) {
      showSlides(slideIndex += n);
      }
      function currentSlide(n) {
      showSlides(slideIndex = n);
      }
      function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) { return }
      if (n < 1) { return }
      for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      }

